@model ML.Usuario
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Usuarios</h2>
<hr />
<a class="btn btn-success" href=@Url.Action("Form","Usuario" , new {IdUsuario = 0})>Agregar nuevo Usuario</a>
<hr />
@if (Model.Usuarios != null)
{
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-hover">
                <thead class="table-info">
                    <tr>
                        <th>Editar</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Edad</th>
                        <th>Fecha de ingreso</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(ML.Usuario usuario in Model.Usuarios)
                {
                    <tr>
                        <th>
                            <a class="btn btn-warning" href=@Url.Action("Form","Usuario" , new {IdUsuario = usuario.IdUsuario})>Editar</a>
                        </th>
                        <td>@usuario.Nombre</td>
                        <td>@usuario.Apellido</td>
                        <td>@usuario.Edad años</td>
                        <td>@usuario.FechaIngreso.ToString("dd-MM-yyyy")</td>
                        <th>
                            <a class="btn btn-danger" href=@Url.Action("Delete","Usuario" , new {IdUsuario = usuario.IdUsuario})>Eliminar</a>
                        </th>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">
        Aun no tienes usuarios.
    </div>

}

